/* Override */

.disabled,
.btn.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.appStore-logged-in,
.appStore-more-options,
.appStore-previous-file,
.appStore-previous-file-success,
.appStore-generate-file,
.appStore-generate-file-success,
.appStore-upload-file,
.enterprise-manual-details,
.enterprise-logged-in,
.enterprise-more-options,
.enterprise-previous-file,
.enterprise-previous-file-success,
.enterprise-generate-file,
.enterprise-generate-file-success,
.enterprise-upload-file {
  display: none;
}

.form-control-static {
  min-height: 30px;
  line-height: 30px;
}

.inline-radio .radio {
  width: 33.33%;
}

.inline-radio .radio label {
  text-align: center;
  width: 100%;
}

.inline-radio .radio:last-child:not(:nth-child(2)) label {
  border-left: none;
}

.context-interface .form-horizontal {
  overflow-x: hidden;
}

.form-horizontal .inline-radio .radio {
  padding-top: 0;
}

.form-control-static {
  border: none;
}

.form-static {
  padding-top: 4px;
}

/*@media (min-width: 640px) {
  .form-horizontal .control-label {
    padding-top: 12px;
  }
}*/

.btn-primary.fl-green {
  background-color: #1db188;
  border-bottom-color: #126f55;
}

.btn-primary.fl-green:hover,
.btn-primary.fl-green:focus,
.btn-primary.fl-green:active {
  background-color: #168566;
  border-bottom-color: #0a3b2d;
}

.btn-primary.fl-green:active:focus,
.btn-primary.fl-green:active:hover {
  background-color: #11674f;
  border-bottom-color: #000201;
}

.form-group.has-error .control-label label {
  color: #a94442;
}

.form-group.has-error .select-proxy-display {
  border-color: #a94442;
}

.panel.required-fill {
  -webkit-box-shadow: 0 1px 1px rgba(169, 68, 66, 0.30);
  box-shadow: 0 1px 1px rgba(169, 68, 66, 0.30);
}

.panel.required-fill h4 {
  color: #a94442;
}

.panel-default.required-fill {
  border-color: #a94442;
}

.app-details-error,
.app-details-warning {
  display: none;
}

.has-error .app-details-error {
  display: block;
}

.has-warning .app-details-warning {
  display: block;
}

.has-error .help-block small {
  color: #737373;
}

.fl-bundleId-holder .help-block.with-errors {
  margin: 0 0 0 10px;
}

.fl-bundleId-holder .help-block.with-errors .list-unstyled {
  margin: 0;
}

.nav-tabs>li>a span {
  display: block;
  text-align: center;
}

.nav-tabs>li>a span:first-child {
  font-weight: bold;
}


/* End Override */

h3 {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #14505E;
  color: #14505E;
}

body>h3,
.app-status h3 {
  margin-top: 0;
}

h3 small {
  color: #14505E;
  font-weight: 500;
}

.tab-pane {
  padding-top: 10px;
}

.panel-title {
  position: relative;
  padding-right: 27px;
}

.panel-title .fa {
  position: absolute;
  right: 0;
  width: 17px;
  height: 17px;
  font-size: 24px;
  line-height: 17px;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}

.panel-title.collapsed .fa {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.panel-title .fa {
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.label-helper {
  margin-top: -5px;
}

.fl-bundleId-holder,
.fl-price-holder {
  height: 44px;
  display: flex;
  align-items: center;
}

.fl-bundleId-holder .btn-default,
.fl-price-holder .btn-default {
  padding: 5px 10px;
  line-height: inherit;
  margin-left: 20px;
}

.fl-bundleId-field,
.fl-price-field {
  display: none;
}

.tokenfield {
  min-height: 44px;
}

.tokenfield .token-input {
  margin: 0;
}

.bootstrap-select .btn-default,
.bootstrap-select .btn-default:hover {
  border: 1px solid #e4e9eb;
  background-color: transparent;
}

.bootstrap-select .btn-default:active:hover,
.bootstrap-select .btn-default:active:focus,
.bootstrap-select .btn-default:active,
.bootstrap-select .btn-default:focus,
.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  background-color: transparent;
  outline: none !important;
  border-color: #00abd1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  color: #00abd1;
}

.app-status-panel {
  text-align: center;
  margin-bottom: 25px;
}

.save-btn-holder .btn {
  margin-bottom: 10px;
}

.save-appStore-progress,
.save-enterprise-progress,
.save-unsigned-progress,
.save-appStore-request,
.save-enterprise-request,
.save-unsigned-request,
.save-push-progress {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.save-appStore-progress.saved,
.save-enterprise-progress.saved,
.save-unsigned-progress.saved,
.save-appStore-request.saved,
.save-enterprise-request.saved,
.save-unsigned-request.saved,
.save-push-progress.saved {
  opacity: 1;
}


/* App Settings Replica */

.setting-app-icon {
  width: 7.6rem;
  height: 7.6rem;
  margin-top: -0.7rem;
  border-radius: 21%;
  border: 1px solid #F0F0F0;
}

.setting-splash-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 1px solid #F0F0F0;
  background-size: cover;
  background-position: center center;
}

.app-build-status-holder {
  margin-bottom: 10px;
}

.app-build-status {
  border-radius: 6px;
  border: 1px solid #efefef;
  padding: 15px;
  box-shadow: inset 0px 0px 6px rgba(51, 51, 51, 0.1);
}

.app-build-status .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.app-build-status table {
  width: 100%;
  max-width: 100%;
}

.app-build-status table thead {
  border-bottom: 2px solid #eeeeee;
}

.app-build-status table th {
  padding: 10px;
}

.app-build-status table tr {
  border-bottom: 1px solid #eeeeee;
}

.app-build-status table tr:last-child {
  border-bottom: none;
}

.app-build-status table tbody td {
  height: 60px;
}

.app-build-status .app-build-holder {
  border-bottom: 1px solid #eeeeee;
}

.app-build-status .app-build-holder:last-child {
  border-bottom: none;
}

.app-build-status table td.app-build-progress {
  text-align: right;
  width: 130px;
  vertical-align: top;
  padding: 10px 0;
}

.app-build-status table td.app-build-progress .retry-build,
.app-build-status table td.app-build-progress .download-build,
.app-build-status table td.app-build-progress .cancel-build {
  font-size: 12px;
  margin-top: 5px;
  margin-right: 5px;
}

.app-build-status table .app-build-progress .app-build-progress-holder {
  width: 100%;
  display: block;
  text-align: left;
  font-size: 12px;
  padding: 4px 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #eeeeee;
  color: #333333;
}

.app-build-status table .app-build-progress.info .app-build-progress-holder {
  background-color: #00abd1;
  color: #fff;
}

.app-build-status table .app-build-progress.success .app-build-progress-holder {
  background-color: #1db188;
  color: #fff;
}

.app-build-status table .app-build-progress.danger .app-build-progress-holder {
  background-color: #E03629;
  color: #fff;
}

.app-build-status table .app-build-progress.warning .app-build-progress-holder {
  background-color: #d37f1c;
  color: #fff;
}

.app-build-status table td.app-build-details {
  vertical-align: top;
  padding: 10px;
  border-left: 1px solid #eeeeee;
  font-weight: bold;
}

.app-build-status table td.app-build-details span:not(.btn) {
  font-size: 12px;
  font-weight: normal;
  color: #636363;
}

.app-build-status table td.app-build-details span .icon {
  color: #b5b5b5;
}

.app-build-status table .app-build-download {
  width: 140px;
}

.app-build-status table td.app-build-download {
  font-size: 12px;
  font-weight: normal;
  color: #636363;
  border-left: 1px solid #eeeeee;
  padding-left: 10px;
}

.app-build-status table td.app-build-download .fa {
  color: #b5b5b5;
}

.indented-area {
  background-color: #f2f6f7;
  border-radius: 6px;
  padding: 15px 15px 1px 15px;
  margin-top: 10px;
}

.hidden-area {
  display: none;
  background-color: #f2f6f7;
  border-radius: 6px;
  padding: 15px 15px 1px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 25px;
}

.hidden-area.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
}

.radio.radio-icon ~ .radio.radio-icon,
.checkbox.checkbox-icon ~ .checkbox.checkbox-icon {
  margin-top: 5px;
}

.screenshot-previews {
  margin-bottom: 20px;
}

.screenshot-previews.row {
  margin-left: -5px;
  margin-right: -5px;
}

.screenshot-previews .col-xs-3,
.screenshot-previews .col-xs-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.screenshot-previews img {
  border: 1px solid #F0F0F0;
}
