<div class="col-xs-12">
  <div class="alert alert-danger">Apple requires you to upload up to 4 screenshots of your app for <strong>{{ name }}</strong>. To generate your screenshots, go to <a href="#" data-change-assets="">App Settings</a>.</div>
</div>